*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 4em;
    font-family: Verdana, Geneva, Tahoma, sa,ns-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

h1{
    width: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px 3px;
}
button{
    padding: 0.7em;
    margin: 0.5em 0em;
    font-size: 1.3em;
    border-radius: 15px;
}

button:hover{
    transition: 0.4s ease;
    background-color: grey;
}

#divOne,#divTwo, #divThree, #divFour{
    width: 50vw;
    padding: 1em;
    margin: 2em;
}

#animateDivContainer {
    padding: 100px 0px;
    margin-bottom: 200px;
}

#animateDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    position: absolute;
    background-color: red;
}

#demoText {
    background-color: black;
    color: white;
    font-size: 22px;
}